
.footer {
  display: flex;
  display: table-column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#AA49AC;
  color: white;
  }

.footerHeader{
  display: flex;
  justify-content: center;
}

.footerMain{
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
}

.footerNavigation h3{
  margin: 0px;
}

.footerContact h3{
  margin: 0px;
}