@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik&display=swap');

:root{
  --primary: rgb(255, 209, 94);
  --secondary: #465279;
}

body {
  /* background-color: #282c34; */
  /* background: var(--secondary); */
  margin: 0;
  font-family: "Poppins";
  color: rgb(45, 42, 42);
  background-image: url('./assests/35018218_8233670.jpg'); /* Replace '/path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* This will ensure the image covers the entire background */
  /* Add any other background styles you need */


}

/* Make nav component and add css to component */
header nav{
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  height: 30px;
  color: rgb(45, 42, 42);
}

header nav a.active {
  background-color: var(--primary);
}

main{
  max-width: 100%;
  margin:auto 3%;
}

/* body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

